<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Virtual ZOO - Habitat</title>
    <link rel="stylesheet" type="text/css" href="mainpage.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="./media/gorila_icon.ico"/>
</head>
<body>

    <h2>Habitats</h2>
    <table>
         <thead>
          <tr>
            <th>Name</th>
             <th>E-mail</th>
          </tr>
         </thead>
        <tbody>
             <tr th:each="habitat : ${habitats}">
                 <td th:text="${habitat.name}"></td>
                 <td th:text="${habitat.area}"></td>
             </tr>
         </tbody>
    </table>
    <p><a href="/habitatify">Criar novo habitat</a></p>
    <p><a href="/habitatify">Consultar habitat</a></p>
</body>
</html>