<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Habitats</title>
   </head>
<body>

    <h2>Habitats</h2>
    <table>
         <thead>
          <tr>
            <th>Name</th>
             <th>E-mail</th>
          </tr>
         </thead>
        <tbody>
             <tr th:each="habitat : ${habitats}">
                 <td th:text="${habitat.name}"></td>
                 <td th:text="${habitat.area}"></td>
             </tr>
         </tbody>
    </table>
    <p><a href="/habitatify">Create All the things</a></p>
</body>
</html>