<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual ZOO</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="./media/gorila_icon.ico" />
</head>
<body>
<!-- Cabeçalho da Página  ------------------------------------------------------------------------- titulo -->
<header id="titulo">
    <h1>Virtual Zoo</h1>
</header>

<!-- Zona do menu principal --------------------------------------------------- banner -->
<div id="banner">

    <article>
        <img src="./media/Gorila.png" width="400" height="280">
    </article>
    <article>
        <img src="./media/Gorila.png" width="400" height="280">
    </article>
    <article>
        <img src="./media/Gorila.png" width="400" height="280">
    </article>
</div>
<br/>


    <!-- Zona da satisfação global --------------------------------------------------------- satisfacao -->
<div id= "cabecalho">
<h3>Estado geral do VZoo</h3>
</div>
              <div  id= "satisfacao">
       <center><table>
                    <tr>
                        <td>
                             Número de Animais:
                        </td>
                        <td>
                            <output name="x" for="a b"></output>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Número de Habitats:
                        </td>
                        <td>
                            <output name="x" for="a b"></output>
                        </td>
                    </tr>
                    <tr>
                    <td>
                        Número de Funcionários:
                    </td>
                    <td>
                        <output name="x" for="a b"></output>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        Satisfação geral do Zoo:
                    </td>
                    <td>
                        <output name="x" for="a b"></output>
                    </td>
                    </tr>
                    </table></center>
</div>
</body>
</html>